<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMBR</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>

    <script type="text/javascript">
        $(document).on('submit','#js8getblog-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/getblog',
            data:{getblog:$("#js8getblog").val()},
            success:function(){
              alert('Post Request Msg added to the Outgoing Buffer. Please allow time for TX and RX before refreshing');
              $('.js8getblog-btn').hide()
            }
          })
        });

        $(document).on('submit','#aprsgetblog-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/getblog',
            data:{getblog:$("#aprsgetblog").val()},
            success:function(){
              alert('Post Request Msg added to the Outgoing Buffer. Please allow time for TX and RX before refreshing');
              $('.aprsgetblog-btn').hide()
            }
          })
        });
      </script>



</head>
<body>
<div class="header">
  <h1>IMBR</h1>
  <p>It must be received.</p>
</div>
<div class="topnav">
    <a href="/">Main</a>
    <a href="/monitoring">Monitoring</a>
    <a href="/qth">{{ settings['callsign'] }}</a>
    <a href="/settings" class="split">Settings</a>
    <div class="search-container">
        <form action="/" method="post">
          <input type="text" placeholder="Search.." name="callsign">
          <button type="submit">Submit</button>
        </form>
    </div>

</div>

{% if settings['js8modem'] %}
<div class="js8_call_stations">
    <h1>JS8Call Spots</h1>
    <hr><p style="text-align:center;">QTH Station</p><hr>
    <button type="button" class="js8_call_collapse">{{ settings['callsign'] }}</button>
    <div class="js8_call_content">
        <div style="float:left; width:45%;">
            <h5>Hearing</h5>
            <ul>
            {% for c in settings['js8spots'][settings['callsign']]['hear_blog'] %}
                <li style="background:lightgrey;">{{ c }}</li>
            {% endfor %}
            {% for c in settings['js8spots'][settings['callsign']]['hear_not'] %}
                <li>{{ c }}</li>
            {% endfor %}
            </ul>
        </div>
        <div style="float:right; width:45%;">
            <h5>Heard By</h5>
            <ul>
            {% for c in settings['js8spots'][settings['callsign']]['heard_blog'] %}
                <li style="background:lightgrey;">{{ c }}</li>
            {% endfor %}
            {% for c in settings['js8spots'][settings['callsign']]['heard_not'] %}
                <li>{{ c }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <hr><p style="text-align:center;">Reachable Bloggers</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and k in own['hear_blog'] and k in own['heard_blog'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">

            <script>
            $(document).on('submit','#js8target{{ k }}',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'/getjs8target',
                    data:{js8station:$("#js8station{{ k }}").val(), js8msg:$("#js8msg{{ k }}").val()},
                    success:function(){
                        for (let el of document.querySelectorAll('.js8btn')) el.style.display = 'none';
                        alert('Post Request Msg added to the Outgoing Buffer. Please allow time for TX and RX before refreshing');
                    }
                })
            });
            </script>
            <form class="js8target" id="js8target{{ k }}">
                <input type="hidden" class="js8station" id="js8station{{ k }}" value="{{ k }}">
                <input type="hidden" class="js8msg" id="js8msg{{ k }}" value="">
                <button type="submit" class="js8btn2">Get Posts</button>
            </form>

            <div style="float:left; width:45%;">
                <h5>Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <script>
                        $(document).on('submit','#js8target{{ k+c }}',function(e){
                            e.preventDefault();
                            $.ajax({
                                type:'POST',
                                url:'/getjs8target',
                                data:{js8station:$("#js8station{{ k+c }}").val(), js8msg:$("#js8msg{{ k+c }}").val()},
                                success:function(){
                                    for (let el of document.querySelectorAll('.js8btn')) el.style.display = 'none';
                                    alert('Post Request Msg added to the Outgoing Buffer. Please allow time for TX and RX before refreshing');
                                }
                            })
                        });
                    </script>
                    <li style="background:lightgrey;">
                        <form class="js8target" id="js8target{{ k+c }}">{{ c }}
                            <input type="hidden" id="js8station{{ k+c }}" value="{{ k }}">
                            <input type="hidden" id="js8msg{{ k+c }}" value="{{ c }}">
                            <button type="submit" class="js8btn"></button>
                        </form>
                    </li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <hr><p style="text-align:center;">Unreachable Bloggers</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and (k not in own['hear_blog'] or k not in own['heard_blog']) and s['blogger'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">
            <div style="float:left; width:45%;">
                <h5>Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <hr><p style="text-align:center;">Reachable Stations</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and k in own['hear_not'] and k in own['heard_not'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">
            <div style="float:left; width:45%;">
                <h5>Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <hr><p style="text-align:center;">Unreachable Stations</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and (k not in own['hear_not'] or k not in own['heard_not']) and not s['blogger'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">
            <div style="float:left; width:45%;">
                <h5 style="color:black;">Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

</div>

<script>
    var coll = document.getElementsByClassName("js8_call_collapse");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("js8_call_active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.borderRadius = "10px";
            } else {
                content.style.display = "block";
                content.style.borderRadius = "0px 0px 10px 10px";
                this.style.borderRadius = "10px 10px 0px 0px";
            }
        });
    }
</script>

{% endif %}

{% block body %}

<br>
<div class="page-title">
    <h1>{{ title }}</h1>
    {% if settings['js8modem'] %}
    <form id="js8getblog-form">
        <input type="hidden" id="js8getblog" name="js8getblog" value="{{ target }}">
        {% if target == 'POST?' %}
            {% set t = "JS8Call Get Posts" %}
        {% else %}
            {% set t = "Get " + target.split('POST? ')[1] + "'s Posts" %}
        {% endif %}
        <button class="js8getblog-btn" id="js8getblog-btn" type="submit" title="{{ t }}"></button>
    </form>
    {% endif %}

    {% if settings['aprsmodem'] %}
        {% if target != 'POST?' %}
            {% set t = "APRS Get " + target.split('POST? ')[1] + "'s Posts" %}
            <form id="aprsgetblog-form">
                <input type="hidden" id="aprsgetblog" name="aprsgetblog" value="{{ target }}">
                <button class="aprsgetblog-btn" id="aprsgetblog-btn" type="submit" title="{{ t }}"></button>
            </form>
        {% endif %}
    {% endif %}
</div>
<br>
<div class="post-container">
{% if blog | length < 1 %}
    <p>No records found.</p>
{% endif %}
{% for post in blog %}
    <script type="text/javascript">
        $(document).on('submit','#add_{{ post['callsign'] }}{{ post['time'] }}-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/addmon',
            data:{addmon:$("#addmon{{ post['callsign'] }}{{ post['time'] }}").val()},
            success:function(){
              alert('Added ' + $("#addmon{{ post['callsign'] }}{{ post['time'] }}").val() + ' to the monitoring list');
              $('.add_' + $("#addmon{{ post['callsign'] }}{{ post['time'] }}").val()).hide()
              $('.del_' + $("#addmon{{ post['callsign'] }}{{ post['time'] }}").val()).show()
            }
          })
        });
        $(document).on('submit','#del_{{ post['callsign'] }}{{ post['time'] }}-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/delmon',
            data:{delmon:$("#delmon{{ post['callsign'] }}{{ post['time'] }}").val()},
            success:function(){
              alert('Removed ' + $("#delmon{{ post['callsign'] }}{{ post['time'] }}").val() + ' from the monitoring list');
              $('.add_' + $("#delmon{{ post['callsign'] }}{{ post['time'] }}").val()).show()
              $('.del_' + $("#delmon{{ post['callsign'] }}{{ post['time'] }}").val()).hide()
            }
          })
        });
    </script>
    <div class="post">
        <div class="post-header">
            {% if post['callsign'] == settings['callsign'] %}
                <img src="{{url_for('static', filename='img/is_me.png')}}" width="24px" height="24px">
            {% else %}
                {% if post['mon'] == False %}
                    {% set sh = "" %}
                    {% set hd = "display:none;" %}
                {% else %}
                    {% set sh = "display:none;" %}
                    {% set hd = "" %}
                {% endif %}
                <form method="post" id="add_{{ post['callsign'] }}{{ post['time'] }}-form" class="add_{{ post['callsign'] }}" style="{{ sh }}">
                    <input type="hidden" value="{{ post['callsign'] }}" name="addmon{{ post['callsign'] }}{{ post['time'] }}" id="addmon{{ post['callsign'] }}{{ post['time'] }}">
                    <button type="submit" class="post-addmonbtn"></button>
                </form>
                <form method="post" id="del_{{ post['callsign'] }}{{ post['time'] }}-form" class="del_{{ post['callsign'] }}" style="{{ hd }}">
                    <input type="hidden" value="{{ post['callsign'] }}" name="delmon{{ post['callsign'] }}{{ post['time'] }}" id="delmon{{ post['callsign'] }}{{ post['time'] }}">
                    <button type="submit" class="post-delmonbtn"></button>
                </form>
            {% endif %}
        <strong><a href="/callsign/{{ post['callsign'] }}"> {{ post['callsign'] }} </a></strong>
        </div>
        <div class="post-feed"><p>{{ post['msg'] }}</p></div>
        <div class="post-detail"><small>{{ post[settings['timezone']] }}</small></div>
    </div>

{% endfor %}
</div>

{% endblock %}

<div class="footer">
        <p><a href="https://kd9yqk.com" style="color: white;" target="_blank">2025 - Created by KD9YQK</a></p>
</div>

</body>
</html>