<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ham Microblog : Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).on('submit','#addmon-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/addmon',
            data:{addmon:$("#addmon").val()},
            success:function(){
              alert('Added ' + $("#addmon").val() + ' to the monitoring list');
              $('.add_' + $("#addmon").val()).hide()
              $('.del_' + $("#addmon").val()).show()
            }
          })
        });
        $(document).on('submit','#delmon-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/delmon',
            data:{delmon:$("#delmon").val()},
            success:function(){
              alert('Removed ' + $("#delmon").val() + ' from the monitoring list');
              $('.del_' + $("#delmon").val()).hide()
              $('.add_' + $("#delmon").val()).show()
            }
          })
        });
        $(document).on('submit','#getblog-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/getblog',
            data:{getblog:$("#getblog").val()},
            success:function(){
              alert('Post Request Msg added to the Outgoing Buffer. Please allow time for TX and RX before refreshing');
              $('.getblog-btn').hide()
            }
          })
        });
      </script>



</head>
<body>
<div class="header">
  <h1>Ham Microblog</h1>
  <p>A radio powered social media project</p>
</div>
<div class="topnav">
    <a href="/">Main</a>
    <a href="/monitoring">Monitoring</a>
    <a href="/qth">{{ settings['callsign'] }}</a>
    <div class="search-container">
        <form action="/" method="post">
          <input type="text" placeholder="Search.." name="callsign">
          <button type="submit">Submit</button>
        </form>
    </div>
  {# <a href="#about" class="split">About</a> #}
</div>

{% if settings['js8modem'] %}
<div class="js8_call_stations">
    <h1>JS8Call Spots</h1>
    <hr><p style="text-align:center;">QTH Station</p><hr>
    <button type="button" class="js8_call_collapse">{{ settings['callsign'] }}</button>
    <div class="js8_call_content">
        <div style="float:left; width:45%;">
            <h5>Hearing</h5>
            <ul>
            {% for c in settings['js8spots'][settings['callsign']]['hear_blog'] %}
                <li style="background:lime; color:black;">{{ c }}</li>
            {% endfor %}
            {% for c in settings['js8spots'][settings['callsign']]['hear_not'] %}
                <li style="color:black;">{{ c }}</li>
            {% endfor %}
            </ul>
        </div>
        <div style="float:right; width:45%;">
            <h5>Heard By</h5>
            <ul>
            {% for c in settings['js8spots'][settings['callsign']]['heard_blog'] %}
                <li style="background:lime; color:black;">{{ c }}</li>
            {% endfor %}
            {% for c in settings['js8spots'][settings['callsign']]['heard_not'] %}
                <li style="color:black;">{{ c }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr><p style="text-align:center;">Reachable Bloggers</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and k in own['hear_blog'] and k in own['heard_blog'] %}
        <button type="button" class="js8_call_collapse" style="background:teal;">{{ k }}</button>
        <div class="js8_call_content" style="background:teal; color:black;">
            <div style="float:left; width:45%;">
                <h5>Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:aqua; color:black;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li style="color:black;">{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:aqua; color:black;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li style="color:black;">{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <hr><p style="text-align:center;">Unreachable Bloggers</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and (k not in own['hear_blog'] or k not in own['heard_blog']) and s['blogger'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">
            <div style="float:left; width:45%;">
                <h5>Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <hr><p style="text-align:center;">Reachable Stations</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and k in own['hear_not'] and k in own['heard_blog'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">
            <div style="float:left; width:45%;">
                <h5>Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <hr><p style="text-align:center;">Unreachable Stations</p><hr>
    {% for k in settings['js8spots'].keys() %}
        {% set s = settings['js8spots'][k] %}
        {% set own = settings['js8spots'][settings['callsign']] %}
        {% if k != settings['callsign'] and (k not in own['hear_not'] or k not in own['heard_not']) and not s['blogger'] %}
        <button type="button" class="js8_call_collapse">{{ k }}</button>
        <div class="js8_call_content">
            <div style="float:left; width:45%;">
                <h5 style="color:black;">Hearing</h5>
                <ul>
                {% for c in settings['js8spots'][k]['hear_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['hear_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div style="float:right; width:45%;">
                <h5>Heard By</h5>
                <ul>
                {% for c in settings['js8spots'][k]['heard_blog'] %}
                    <li style="background:lightgrey;">{{ c }}</li>
                {% endfor %}
                {% for c in settings['js8spots'][k]['heard_not'] %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}

</div>

<script>
    var coll = document.getElementsByClassName("js8_call_collapse");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("js8_call_active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.borderRadius = "10px";
            } else {
                content.style.display = "block";
                content.style.borderRadius = "0px 0px 10px 10px";
                this.style.borderRadius = "10px 10px 0px 0px";
            }
        });
    }
</script>

{% endif %}

{% block body %}

<br>
<div class="page-title">
    <h1>{{ title }}</h1>
    <form id="getblog-form">
        <input type="hidden" id="getblog" name="getblog" value="{{ target }}">
        <button class="getblog-btn" id="getblog-btn" type="submit" title="
            {% if target == 'POSTS?' %}
                Get Posts
            {% else %}
                Get {{ target.strip('POSTS? ') }}'s Posts
            {% endif %}
        "></button>
    </form>
</div>
<br>
<div class="post-container">
{% if blog | length < 1 %}
    <p>No records found.</p>
{% endif %}
{% for post in blog %}
    <script type="text/javascript">
        $(document).on('submit','#add_{{ post['callsign'] }}{{ post['time'] }}-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/addmon',
            data:{addmon:$("#addmon{{ post['callsign'] }}{{ post['time'] }}").val()},
            success:function(){
              alert('Added ' + $("#addmon{{ post['callsign'] }}{{ post['time'] }}").val() + ' to the monitoring list');
              $('.add_' + $("#addmon{{ post['callsign'] }}{{ post['time'] }}").val()).hide()
              $('.del_' + $("#addmon{{ post['callsign'] }}{{ post['time'] }}").val()).show()
            }
          })
        });
        $(document).on('submit','#del_{{ post['callsign'] }}{{ post['time'] }}-form',function(e){
          e.preventDefault();
          $.ajax({
            type:'POST',
            url:'/delmon',
            data:{delmon:$("#delmon{{ post['callsign'] }}{{ post['time'] }}").val()},
            success:function(){
              alert('Removed ' + $("#delmon{{ post['callsign'] }}{{ post['time'] }}").val() + ' from the monitoring list');
              $('.add_' + $("#delmon{{ post['callsign'] }}{{ post['time'] }}").val()).show()
              $('.del_' + $("#delmon{{ post['callsign'] }}{{ post['time'] }}").val()).hide()
            }
          })
        });
    </script>
    <div class="post">
        <div class="post-header">
            {% if post['callsign'] == settings['callsign'] %}
                <img src="{{url_for('static', filename='img/is_me.png')}}" width="24px" height="24px">
            {% else %}
                {% if post['mon'] == False %}
                    <form method="post" id="add_{{ post['callsign'] }}{{ post['time'] }}-form" class="add_{{ post['callsign'] }}">
                        <input type="hidden" value="{{ post['callsign'] }}" name="addmon{{ post['callsign'] }}{{ post['time'] }}" id="addmon{{ post['callsign'] }}{{ post['time'] }}">
                        <button type="submit" class="post-addmonbtn"></button>
                    </form>
                    <form method="post" id="del_{{ post['callsign'] }}{{ post['time'] }}-form" class="del_{{ post['callsign'] }}" style="display:none;">
                        <input type="hidden" value="{{ post['callsign'] }}" name="delmon{{ post['callsign'] }}{{ post['time'] }}" id="delmon{{ post['callsign'] }}{{ post['time'] }}">
                        <button type="submit" class="post-delmonbtn"></button>
                    </form>
                {% else %}
                    <form method="post" id="add_{{ post['callsign'] }}{{ post['time'] }}-form" class="add_{{ post['callsign'] }}" style="display:none;">
                        <input type="hidden" value="{{ post['callsign'] }}" name="addmon{{ post['callsign'] }}{{ post['time'] }}" id="addmon{{ post['callsign'] }}{{ post['time'] }}">
                        <button type="submit" class="post-addmonbtn"></button>
                    </form>
                    <form method="post" id="del_{{ post['callsign'] }}{{ post['time'] }}-form" class="del_{{ post['callsign'] }}">
                        <input type="hidden" value="{{ post['callsign'] }}" name="delmon{{ post['callsign'] }}{{ post['time'] }}" id="delmon{{ post['callsign'] }}{{ post['time'] }}">
                        <button type="submit" class="post-delmonbtn"></button>
                    </form>
                {% endif %}
            {% endif %}
        <strong><a href="/callsign/{{ post['callsign'] }}"> {{ post['callsign'] }} </a></strong>
        </div>
        <div class="post-feed"><p>{{ post['msg'] }}</p></div>
        <div class="post-detail"><small>{{ post[settings['timezone']] }}</small></div>
    </div>

{% endfor %}
</div>

{% endblock %}

<div class="footer">
        <p>2024 - Created by KD9YQK</p>
</div>

</body>
</html>