{% extends 'index.html' %}

{% block body %}

<br>
<div class="page-title">
    <h1>{{ title }}</h1>
</div>
<br>
<div class="post-container">

    <div class="post">

        <div class="post-feed" style="background-color:#8d9db6;"><p>
            <form method="post" id="addpost-form" action="/qth">
            <textarea name="newmsg" id="addpost" placeholder="Write a new post.."></textarea><br>
                <button type="submit" style="float: right; margin-top:8px;">Create</button>
            </form>
        </div>
    </div>

<script type="text/javascript">
    $("#addpost").keypress(function() {
        if(event.which == 13 && !event.shiftKey)
        {
            document.getElementById("addpost-form").submit();
            return false;
        }
    });
</script>

{% for post in blog %}

    <div class="post">
        <div class="post-header">
            <img src="{{url_for('static', filename='img/is_me.png')}}" width="24px" height="24px">
        <strong><a href="/callsign/{{ post['callsign'] }}"> {{ post['callsign'] }} </a></strong>
        </div>
        <div class="post-feed"><p>{{ post['msg'] }}</p></div>
        <div class="post-detail"><small>{{ post[settings['timezone']] }}</small></div>
    </div>

{% endfor %}
</div>

{% endblock %}

